In [6]:
import pandas as pd
import numpy as np
import matplotlib

In [11]:
toronto_data = pd.read_csv("listings.csv")

In [12]:
toronto_data

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm,license
0,701230,Authentic Bright Artist's Loft,3587917,Darby,NaN,High Park North,43.658730,-79.453360,Entire home/apt,100,28,15,2018-07-31,0.13,1,0,0,NaN
1,40456,Downtown- King Size Bed and Parking,174063,Denis,NaN,South Parkdale,43.635390,-79.440100,Entire home/apt,150,31,114,2022-01-29,0.74,4,313,0,NaN
2,1419,Beautiful home in amazing area!,1565,Alexandra,NaN,Little Portugal,43.645900,-79.424230,Entire home/apt,469,28,7,2017-12-04,0.08,1,0,0,NaN
3,8077,Downtown Harbourfront Private Room,22795,Kathie & Larry,NaN,Waterfront Communities-The Island,43.640800,-79.376730,Private room,104,180,169,2013-08-27,1.02,2,365,0,NaN
4,26654,World Class downtown @CN Tower Theatre MTCC ga...,113345,Adela,NaN,Waterfront Communities-The Island,43.646080,-79.390320,Entire home/apt,145,28,41,2021-01-31,0.28,3,221,0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17992,842700374677803131,Fresh 4BR Haven in Forest Hill w BBQ Gym Sauna,503091825,Vuk,NaN,Briar Hill-Belgravia,43.700516,-79.442461,Entire home/apt,533,1,0,NaN,NaN,1,205,0,STR-2301-HVQHHY
17993,842723832769919194,Condo near Downtown,474972308,Minh Hai,NaN,Moss Park,43.656980,-79.372923,Entire home/apt,75,28,0,NaN,NaN,2,279,0,NaN
17994,842749526057328073,Whole Modern TownHome@Downsview,502075035,David,NaN,Downsview-Roding-CFB,43.735781,-79.474644,Entire home/apt,559,28,0,NaN,NaN,4,174,0,STR-2205-FWKDVD
17995,842797078204247527,NEW LUX Condo with CN Tower Views (2 BED | 2 B...,35743871,Cory,NaN,Waterfront Communities-The Island,43.643246,-79.389909,Entire home/apt,239,28,0,NaN,NaN,2,144,0,STR-2207-HKCBHK
17996,842820235890657160,Stunning 3BR Bluffs Home Near the Water!,504497036,Scott,NaN,Cliffcrest,43.711938,-79.245442,Entire home/apt,315,28,0,NaN,NaN,1,327,0,STR-2211-FZYRVD

In [13]:
df = pd.DataFrame(toronto_data)
df.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm,license
0,701230,Authentic Bright Artist's Loft,3587917,Darby,NaN,High Park North,43.65873,-79.45336,Entire home/apt,100,28,15,2018-07-31,0.13,1,0,0,NaN
1,40456,Downtown- King Size Bed and Parking,174063,Denis,NaN,South Parkdale,43.63539,-79.44010,Entire home/apt,150,31,114,2022-01-29,0.74,4,313,0,NaN
2,1419,Beautiful home in amazing area!,1565,Alexandra,NaN,Little Portugal,43.64590,-79.42423,Entire home/apt,469,28,7,2017-12-04,0.08,1,0,0,NaN
3,8077,Downtown Harbourfront Private Room,22795,Kathie & Larry,NaN,Waterfront Communities-The Island,43.64080,-79.37673,Private room,104,180,169,2013-08-27,1.02,2,365,0,NaN
4,26654,World Class downtown @CN Tower Theatre MTCC ga...,113345,Adela,NaN,Waterfront Communities-The Island,43.64608,-79.39032,Entire home/apt,145,28,41,2021-01-31,0.28,3,221,0,NaN

In [14]:
df.info()
df.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17997 entries, 0 to 17996
Data columns (total 18 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              17997 non-null  int64
 1   name                            17995 non-null  object
 2   host_id                         17997 non-null  int64
 3   host_name                       17995 non-null  object
 4   neighbourhood_group             0 non-null      float64
 5   neighbourhood                   17997 non-null  object
 6   latitude                        17997 non-null  float64
 7   longitude                       17997 non-null  float64
 8   room_type                       17997 non-null  object
 9   price                           17997 non-null  int64
 10  minimum_nights                  17997 non-null  int64
 11  number_of_reviews               17997 non-null  int64
 12  last_review                     13003 non-null  object
 13  reviews_per_month               13003 non-null  float64
 14  calculated_host_listings_count  17997 non-null  int64
 15  availability_365                17997 non-null  int64
 16  number_of_reviews_ltm           17997 non-null  int64
 17  license                         7908 non-null   object
dtypes: float64(4), int64(8), object(6)
memory usage: 2.5+ MB

,id,host_id,neighbourhood_group,latitude,longitude,price,minimum_nights,number_of_reviews,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm
count,1.799700e+04,1.799700e+04,0.0,17997.000000,17997.000000,17997.000000,17997.000000,17997.00000,13003.000000,17997.000000,17997.000000,17997.000000
mean,2.757775e+17,1.707564e+08,NaN,43.682045,-79.397346,179.530311,26.992777,23.99511,1.187287,6.142524,147.210480,6.446797
std,3.602231e+17,1.618994e+08,NaN,0.049030,0.068904,515.989639,38.348540,52.74416,1.560878,15.296411,134.879188,14.521941
min,1.419000e+03,1.565000e+03,NaN,43.585750,-79.621200,0.000000,1.000000,0.00000,0.010000,1.000000,0.000000,0.000000
25%,2.308524e+07,2.916017e+07,NaN,43.645930,-79.426965,75.000000,28.000000,0.00000,0.180000,1.000000,6.000000,0.000000
50%,4.462645e+07,1.163588e+08,NaN,43.663080,-79.397420,118.000000,28.000000,4.00000,0.550000,1.000000,95.000000,0.000000
75%,7.056345e+17,2.902385e+08,NaN,43.706010,-79.374920,199.000000,28.000000,23.00000,1.600000,4.000000,282.000000,5.000000
max,8.428202e+17,5.061196e+08,NaN,43.837740,-79.126050,51561.000000,1125.000000,889.00000,13.200000,141.000000,365.000000,156.000000

In [15]:
df.duplicated()

0        False
1        False
2        False
3        False
4        False
         ...
17992    False
17993    False
17994    False
17995    False
17996    False
Length: 17997, dtype: bool

In [16]:
clean_df = df.drop_duplicates()

In [18]:
clean_df

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm,license
0,701230,Authentic Bright Artist's Loft,3587917,Darby,NaN,High Park North,43.658730,-79.453360,Entire home/apt,100,28,15,2018-07-31,0.13,1,0,0,NaN
1,40456,Downtown- King Size Bed and Parking,174063,Denis,NaN,South Parkdale,43.635390,-79.440100,Entire home/apt,150,31,114,2022-01-29,0.74,4,313,0,NaN
2,1419,Beautiful home in amazing area!,1565,Alexandra,NaN,Little Portugal,43.645900,-79.424230,Entire home/apt,469,28,7,2017-12-04,0.08,1,0,0,NaN
3,8077,Downtown Harbourfront Private Room,22795,Kathie & Larry,NaN,Waterfront Communities-The Island,43.640800,-79.376730,Private room,104,180,169,2013-08-27,1.02,2,365,0,NaN
4,26654,World Class downtown @CN Tower Theatre MTCC ga...,113345,Adela,NaN,Waterfront Communities-The Island,43.646080,-79.390320,Entire home/apt,145,28,41,2021-01-31,0.28,3,221,0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17992,842700374677803131,Fresh 4BR Haven in Forest Hill w BBQ Gym Sauna,503091825,Vuk,NaN,Briar Hill-Belgravia,43.700516,-79.442461,Entire home/apt,533,1,0,NaN,NaN,1,205,0,STR-2301-HVQHHY
17993,842723832769919194,Condo near Downtown,474972308,Minh Hai,NaN,Moss Park,43.656980,-79.372923,Entire home/apt,75,28,0,NaN,NaN,2,279,0,NaN
17994,842749526057328073,Whole Modern TownHome@Downsview,502075035,David,NaN,Downsview-Roding-CFB,43.735781,-79.474644,Entire home/apt,559,28,0,NaN,NaN,4,174,0,STR-2205-FWKDVD
17995,842797078204247527,NEW LUX Condo with CN Tower Views (2 BED | 2 B...,35743871,Cory,NaN,Waterfront Communities-The Island,43.643246,-79.389909,Entire home/apt,239,28,0,NaN,NaN,2,144,0,STR-2207-HKCBHK
17996,842820235890657160,Stunning 3BR Bluffs Home Near the Water!,504497036,Scott,NaN,Cliffcrest,43.711938,-79.245442,Entire home/apt,315,28,0,NaN,NaN,1,327,0,STR-2211-FZYRVD

In [21]:
clean_df = clean_df.drop(columns=['neighbourhood_group'])

In [22]:
clean_df

,id,name,host_id,host_name,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm,license
0,701230,Authentic Bright Artist's Loft,3587917,Darby,High Park North,43.658730,-79.453360,Entire home/apt,100,28,15,2018-07-31,0.13,1,0,0,NaN
1,40456,Downtown- King Size Bed and Parking,174063,Denis,South Parkdale,43.635390,-79.440100,Entire home/apt,150,31,114,2022-01-29,0.74,4,313,0,NaN
2,1419,Beautiful home in amazing area!,1565,Alexandra,Little Portugal,43.645900,-79.424230,Entire home/apt,469,28,7,2017-12-04,0.08,1,0,0,NaN
3,8077,Downtown Harbourfront Private Room,22795,Kathie & Larry,Waterfront Communities-The Island,43.640800,-79.376730,Private room,104,180,169,2013-08-27,1.02,2,365,0,NaN
4,26654,World Class downtown @CN Tower Theatre MTCC ga...,113345,Adela,Waterfront Communities-The Island,43.646080,-79.390320,Entire home/apt,145,28,41,2021-01-31,0.28,3,221,0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17992,842700374677803131,Fresh 4BR Haven in Forest Hill w BBQ Gym Sauna,503091825,Vuk,Briar Hill-Belgravia,43.700516,-79.442461,Entire home/apt,533,1,0,NaN,NaN,1,205,0,STR-2301-HVQHHY
17993,842723832769919194,Condo near Downtown,474972308,Minh Hai,Moss Park,43.656980,-79.372923,Entire home/apt,75,28,0,NaN,NaN,2,279,0,NaN
17994,842749526057328073,Whole Modern TownHome@Downsview,502075035,David,Downsview-Roding-CFB,43.735781,-79.474644,Entire home/apt,559,28,0,NaN,NaN,4,174,0,STR-2205-FWKDVD
17995,842797078204247527,NEW LUX Condo with CN Tower Views (2 BED | 2 B...,35743871,Cory,Waterfront Communities-The Island,43.643246,-79.389909,Entire home/apt,239,28,0,NaN,NaN,2,144,0,STR-2207-HKCBHK
17996,842820235890657160,Stunning 3BR Bluffs Home Near the Water!,504497036,Scott,Cliffcrest,43.711938,-79.245442,Entire home/apt,315,28,0,NaN,NaN,1,327,0,STR-2211-FZYRVD